form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 200px;
  height: 50px;
}

.space {
  padding: 12.5vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 250px;
}

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("src/assets/img/bg.webp");
  background-position: center;

  min-width: 100vw;
  min-height: 100vh;
}

::ng-deep .error-snackbar {
  background: rgb(25, 1, 43);
}
