<div [style.margin.px]="10">
  <button class="main-button">
    <mat-icon (click)="openDialog()">edit</mat-icon>
  </button>
</div>

<ng-template #myTemplate>
  <div class="first">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Sobrenome</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Matrícula</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Horas registradas </mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div class="button">
      <button mat-button class="save">Salvar</button>
      <button mat-button class="cancel">Cancelar</button>
    </div>
  </div>
</ng-template>
