<div class="table">
  <br>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="institutionCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Matrícula</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.institutionCode }} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nome
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
      </ng-container>
      <!-- Authorization Column -->
      <ng-container matColumnDef="authorization">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Autorização
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.authorization }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!--

          <app-modal></app-modal>

          <app-modal-warning></app-modal-warning>

         -->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [length]="length" [pageIndex]="metaData.currentPage" [pageSizeOptions]="[1, 5, 10, 25, 100]"
      (page)="onPageEvent($event)"></mat-paginator>
  </div>
  <span>{{metaData.totalItems}}</span>
  <button (click)="feiurinha()"></button>
</div>

<!--

-->